<html>
    <head>    
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/doctor.css">
    </head>
    <body>
        <div class="main">
            <img id="drimg" src="/img/drimg.jpg" alt="IMG">
            <p>Dr. <%= doctor.name %></p>
            <p><%= doctor.email %></p>
            <div class="" id="patientcheck">
                <h2>Patient Check-Up</h2>
                <h3>Is Patient Registered?</h3>
                <form action="">
                    <input type="text" name="pat-number" id="pat-number" placeholder="Contact Number">
                    <input type="submit" value="Search &#x1F50E" id="pat-number-btn">
                </form>
                <br>
                <br>
                <br>
                <a id="patient-list" href="/patients/register">Patient's Report</a>
            </div>
        </div>
        
    </body>
</html>