<html>
    <head>    
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/doctor.css">
    </head>
    <body>
        <h1>Doctor's Login OR Register </h1>
    </body>
</html>