<html>
    <head>    
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/doctor.css">
    </head>
    <body>
        <div class="main">
            <p>Name: <%= doctor.name %></p>
            <p>Email: <%= doctor.email %></p>
    
        </div>
    </body>
</html>