<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div class="split left">
            <div class="centered">
                <div id="docinfo">
                    <img src="/img/user-nurse-solid.svg" alt="Dr" id="docimg">
                    <div>Doctor's</div>
                    <div>
                        <a href="/doctors/register">Register</a>
                    </div>
                    <div>
                        <a href="/doctors/login">LogIn</a>
                    </div>
                </div>
            </div>
          </div>
          
          <div class="split right">
            <div class="centered">
                <div id="patinfo">
                    <img src="/img/user-injured-solid.svg" alt="Pat" id="patimg">
                    <div>Patient's</div>
                    <div>
                        <a href="/patients/login">LogIn</a>
                    </div>
                </div>
            </div>
          </div>
    </body>
</html>