<html>
    <head>    
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/patient.css">
    </head>
    <body>
        <div class="main">
            <div class="" id="patientcheck">
                <h1>Patient Report</h1>
                <img id="drimg" src="/img/drimg.jpg" alt="IMG">
                <p>Name : <%= patient.name %></p>
                <p>Contact No : <%= patient.contactnumber%></p>
                <p>Test Result : </p>
            </div>
        </div>
        
    </body>
</html>