<html>
    <head>    
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/patient.css">
    </head>
    <body>
        <h1>Login for Patient</h1>
    </body>
</html>