<html>
<head>
  <link rel="stylesheet" href="/css/patient_register.css">
  <title>Register</title>
</head>
<body>
    <div class="main">
        <img src="/img/user-injured-solid.svg" id="patimg" alt="Pat">
        <p class="sign" align="center">Register</p>
        <form class="form1" action="/patients/create" method="POST">
            <input class="un" type="text" name="name" placeholder="Your Name" required>
            <input class="un" type="email" name="email" placeholder="Your Email" required>
            <input class="un" type="text" name="contactnumber" placeholder="Your Number" required>
            <input class="pass" type="password" name="password" placeholder="Password" required>
            <input class="pass" type="password" name="confirm_password" placeholder="Confirm Password" required>
            <input type="submit" class="submit" value="Register">
        </form> 
    </div>
</body>
</html>