<html>
<head>
  <link rel="stylesheet" href="/css/patient_register.css">
  <title>Register</title>
</head>
<body>
    <div class="main">
        <img src="/img/user-injured-solid.svg" id="patimg" alt="Pat">
        <p class="sign" align="center">Register</p>
        <form class="form1" action="/patients/create" method="POST">
            <input class="un" type="text" name="name" placeholder="Patient Name" required>
            <input class="un" type="email" name="email" placeholder="Patient Email" required>
            <input class="un" type="text" name="contactnumber" placeholder="Patient Number" required>
            <input class="un" type="text" name="status" placeholder="Status" required>
            <input type="submit" class="submit" value="Register">
        </form> 
    </div>
</body>
</html>