<html>
<title>
    LogIn
</title>
<head>
  <link rel="stylesheet" href="/css/patient_login.css">
  <title>LogIn</title>
</head>
<body>
<div class="main">
    <img src="/img/user-injured-solid.svg" id="patimg" alt="Pat">
    <p class="sign" align="center">Log In</p>
    <form class="form1" action="/patients/create-session" method="POST">
        <input class="un " type="text" align="center" name="contactnumber" placeholder="Patient Number" required>
        <input type="submit" class="submit" value="Log In"> 
    </form>     
</div>   
</body>
</html>
