body{
    margin: 0;
    text-align: center;
    background-image: url(../img/bg.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}
.split {
    height: 45%;
    width: 20%;
    display: block;
    position: fixed;
    z-index: 1;
    top: 150;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 10px;
  }
  .right {
    right: 300;
    background-color: lightblue;
  }
  .left {
    left: 300;
    background-color: lightblue;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  

#docinfo{
    font-size: 32px;
    text-shadow: 2px 2px 5px blue;
}
#docimg{
    width: 100px;
}
#patinfo{
    font-size: 32px;
    text-shadow: 2px 2px 5px blue;
}
#patimg{
    width: 100px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 28px;
    text-shadow: 2px 2px 5px red;
}